//<Подключаем шрифты>========================================
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

@font-face {
	font-family: 'MyriadPro';
	src: url('../fonts/MyriadPro-Regular.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
//</Подключаем шрифты>=======================================

//<Шрифт по умолчанию>=======================================
$fontfamily: 'Lato', sans-serif;
//</Шрифт по умолчанию>======================================

//<ПЕРЕМЕННЫЕ для брейкпоинтов>==============================
$minwidth: 320px;
$mw: 1100px;
$md1: $mw + 12px;
$md2: 992px;
$md3: 768px;
$md4: 480px;
//</ПЕРЕМЕННЫЕ>==============================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================
@import "nullstyle.scss";

body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}

.ibg {
  	background-position: center;
  	background-size: cover;
  	background-repeat: no-repeat; 
  	img {
  		display: none;
  	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==============================

//<ОБОЛОЧКА>=================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>================================================

//<ОСНОВНАЯ СЕТКА>===========================================
.container {
	max-width: $mw;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1) {
		max-width: 970px;
	}
	@media (max-width: $md2) {
		max-width: 750px;
	}
	@media (max-width: $md3) {
		max-width: none;
		padding: 0 10px;
	}
}
//<MAINBLOCK>================================================
.mainblock {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 50px 0px;
	position: relative;
	flex: 1 1 auto;
	text-align: center;
	@media (max-width: $md3) {
		padding: 20px 0;
	}
	&__content {
		position: relative;
		z-index: 3;
		flex: 1 1 auto;
		.container {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
	}
	&__logo {
	}
	&__text {
		position: relative;
		color: #ffffff;
		margin: 30px 0px;
		padding: 0 0 45px 0;
		&:after {
			content:'';
			position: absolute;
			width: 105px;
			height: 2px;
			left: 50%;
			bottom: 0;
			margin: 0px 0px 0px -52.5px;
			background-color: #fff;
		}
	}
	&__title {
		margin: 0px 0px 10px 0px;
		font-size: 34px;
		line-height: 40px;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 5.43px;
		@media (max-width: $md3) {
			font-size: 25px;
			line-height: 30px;
		}
	}
	&__subtitle {
		font-size: 26px;
		letter-spacing: 4.15px;
		@media (max-width: $md3) {
			font-size: 20px;
			line-height: 25px;
		}
	}
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__btn {
		margin: 0px 0px 75px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 40px 0px;
		}
	}
	&__arrow {
		display: inline-block;
		position: relative;
		animation: arrow 1s ease-out infinite alternate 0s;
		@keyframes arrow {
			0% {
				top: -25px;
			}
			100% {
				top: 10px;
			}
		}
		&:hover {
			animation-play-state: paused;
		}
	}
	&__image {
		position: fixed; /* фиксируем картинку, чтобы блок контента как бы "наезжал" на нее */
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.btn {
	position: relative;
	display: inline-block;
	padding: 0px 40px;
	height: 45px;
	line-height: 45px;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.67px;
	&:after {
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		transform: scale(0);
		transition: all 0.3s ease-out;
	}
	span {
		position: relative;
		z-index: 3;
		transition: all 0.3s ease-out;
	}
	&_white {
		color: #fff;
		border: 1px solid #fff;
		&:after {
			background-color: #fff;
		}

	}
	&_black {
		color: #000;
		border: 1px solid #000;
		&:after {
			background-color: #000;
		}

	}
	&:hover {
		&.btn_white {
			color: #000;
		}
		&.btn_black {
			color: #fff;
		}
		&:after {
			transform: scale(1);
		}
	}
}
//<CONTENT>==================================================
.content {
	position: relative;
	z-index: 50;
	background-color: #fff;
}
//<MENU>=====================================================
.menu {
	padding: 22px 0px;
	border-bottom: 1px solid #f2f2f2;
	&__items {}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		li {
			margin: 0px 25px;
			@media (max-width: $md3) {
				&:first-child {
					margin: 0px 25px 0px 0px;
				}
				&:last-child {
					margin: 0px 0px 0px 25px;
				}
			}
			@media (max-width: $md4) {
				margin: 0px 10px;
				&:first-child {
					margin: 0px 10px 0px 0px;
				}
				&:last-child {
					margin: 0px 0px 0px 10px;
				}
			}
		}
	}
	&__link {
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		transition: color 0.3s ease;
		&_active {
			color: #ada074;
		}
		&:hover {
			color: #c2b897;
		}
		@media (max-width: 375px) {
			font-size: 12px;
		}
	}
}
//<ABOUT>====================================================
.about {
	padding: 130px 0px 60px 0px;	
	@media (max-width: $md3) {
		padding: 50px 0px 30px 0px;
	}
	@media (max-width: $md4) {
		padding: 30px 0px 0px 0px;
	}
	&__top-block {
		margin: 0px 0px 65px 0px;
		@media (max-width: $md3) {
		margin: 0px 0px 30px 0px;
		}
	}
	&__body {
		max-width: 860px;
		margin: 0px auto;
		text-align: center;
		@media (max-width: $md3) {
			max-width: 400px;
		}
	}
	&__row {
		display: flex;
		margin: 0px -20px;
		@media (max-width: $md3) {
			display: block;
		}
	}
	&__column {
		margin: 0px 0px 30px 0px;
		padding: 0px 20px;
		flex: 0 1 33.33%;
	}
	&__item {
		max-width: 260px;
		// text-align: center;
		@media (max-width: $md3) {
			max-width: none;
		}
	}
	&__image {
		margin: 0px 0px 40px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__title {
		margin: 0px 0px 30px 0px;
		font-size: 22px;
		text-transform: uppercase;
		letter-spacing: 3.52px;
		@media (max-width: $md2) {
			font-size: 18px;
		}
		@media (max-width: $md3) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__text {
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;
	}
}
.top-block {
	text-align: center;
	&__title {
		position: relative;
		padding: 0px 0px 35px 0px;
		font-size: 34px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 8.95px;
		&:after {
			content:'';
			position: absolute;
			width: 81px;
			height: 1px;
			left: 50%;
			bottom: 0;
			margin: 0px 0px 0px -40.5px;
			background-color: #000000;			
		}
		@media (max-width: $md4) {
			padding: 0px 0px 25px 0px;
		}
	}
	&__text {
		max-width: 680px;
		margin: 0px auto;
		padding: 30px 0px 0px 0px;
		color: #868585;
		font-size: 14px;
		font-weight: 300;
		line-height: 25.89px;
		@media (max-width: $md3) {
			max-width: 550px;
			padding: 30px 20px 0px 20px;
		}
		@media (max-width: $md4) {
			padding: 20px 10px 0px 10px;
		}
	}
}
//<PORTFOLIO>==========================================
.portfolio {
	background-color: #f3f3f3;
	padding: 0px 0px 62px 0px;
	@media (max-width: $md3) {
		padding: 0px 0px 40px 0px;
	}
	@media (max-width: $md4) {
		padding: 0px 0px 30px 0px;
	}
	&__top-block {
		margin: 0px 0px 50px 0px;
		padding: 107px 0px 0px 0px;
		@media (max-width: $md3) {
			padding: 50px 0px 0px 0px;
			margin: 0px 0px 30px 0px;
		}
	}
	&__filter {
		margin: 0px 0px 100px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__images {
		display: flex;
		justify-content: center;
		// align-items: center;
		margin: 0px -13px;
		padding: 0px 0px 48px 0px;
		flex-wrap: wrap;
		@media (max-width: $md3) {
			padding: 0px 0px 30px 0px;
		}
		@media (max-width: $md4) {
			padding: 0px 0px 15px 0px;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0px 13px;
		margin: 0px 0px 16px 0px;	
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			flex: 0 1 47%;
		} /*позволяет написать отдельный код для IE10+*/
		@media all and (-ms-high-contrast: none), (-ms-high-contrast: active), (max-width: $md2) {
		 	flex: 0 1 45%;
		}
		@media (max-width: $md3) {
			flex: 1 1 100%;
		}
	}
	&__item {
		height: 100%;
		padding: 0 0 67% 0;
		img {
			max-width: 100%;
		}
	}
	&__bottom {
		text-align: center;
	}
	&__btn {}
}
.filter {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__item {
		margin: 0px 25px;
		color: #3c3c3c;
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 700;
		transition: color 0.3s ease;
		&.active {
			color: #ada074;
		}
		&:hover {
			color: #c2b897;
		}
	}
}
//<PARTNERS>=================================================
.partners {
	padding: 100px 0px 100px 0px;
	text-align: center;
	background: url('../img/partners/bg.jpg') center / cover no-repeat;
	@media (max-width: $md3) {
		padding: 30px 0px 30px 0px;
	}
	@media (max-width: $md4) {
		padding: 30px 0px 10px 0px;
	}
	&__title {
		margin: 0px 0px 90px 0px;
		color: #ffffff;
		font-size: 30px;
		font-weight: 300;
		letter-spacing: 1.8px;
		@media (max-width: $md3) {
			margin: 0px 0px 40px 0px;
		}
	}
	&__row {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	&__column {
		padding: 0px 55px;
		margin: 0px 0px 30px 0px;
		@media (max-width: $md3) {
			padding: 0px 30px;
		}
		&:last-child {
			@media (max-width: $md4) {
				padding: 0 0 0 20px;
			}
		}
	}
	&__item {}
}
//<CONTACT>==================================================
.contact {
	padding: 150px 0px 80px 0px;
	@media (max-width: $md3) {
		padding: 30px 0px 30px 0px;
	}
	&__top-block {
		margin: 0px 0px 100px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 30px 0px;
		}
	}
	&__body {
		display: flex;
		margin: 0 -42px;
		@media (max-width: $md3) {
			display: block;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0 42px;
		max-width: 50%;
		@media (max-width: $md3) {
			max-width: 100%
		}
		&:first-child {
			@media (max-width: $md3) {
				margin: 0px 0px 20px 0px;
			}
		}
	}
	&__form {
	}
	&__content {
		padding: 10px 0px 0px 0px;
		max-width: 252px;
		font-size: 14px;
		font-weight: 300;
		line-height: 26px;	
		@media (max-width: $md3) {
			max-width: none;
			text-align: center;	
		}
	}
	&__text {	
		margin: 0px 0px 35px 0px;
		@media (max-width: $md3) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__signature {
		margin: 0px 0px 20px 0px;
		font-weight: 700;
		@media (max-width: $md3) {
			margin: 0px 0px 10px 0px;
		}
	}
	&__social {
		margin: 0px 0px 10px 0px;
		a {
			padding: 0px 15px 0 0;
			@media (max-width: $md3) {
				padding: 0px 5px;
			}
		}
	}
	&__e-mail {
		a {
			color: #000;
			font-weight: 700;
		}
	}
}
.form-contact {
	text-align: right;
	@media (max-width: $md3) {
		text-align: center;
	}
	&__body {
		display: inline-block;
		width: 100%;
		max-width: 385px;
		@media (max-width: $md3) {
			max-width: none;
		}
	}
	&__row {
		display: flex;
		margin: 0px -30px 75px -30px;
		@media (max-width: $md3) {
			display: block;
			margin: 0px -30px;
		}
	}
	&__column {
		flex: 0 1 50%;
		max-width: 50%;
		padding: 0px 30px;
		@media (max-width: $md3) {
			max-width: 100%;
		}
	}
	&__input {
		label {
			display: block;
			margin: 20px 0px;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.84px;
			text-align: left;
		}
		input {
			display: block;
			width: 100%;
			height: 35px;
			padding: 10px;
			font-size: 14px;
			border-top: 1px solid #000;
			background-color: #f8f7f7;
			&:focus {
				border-top: 1px solid #79b8fd;
			}
		}
		textarea {
			display: block;
			margin: 0px 0px 40px 0px;
			width: 100%;
			height: 120px;
			padding: 10px;
			font-size: 14px;
			border-top: 1px solid #000;
			background-color: #f8f7f7;
			&:focus {
				border-top: 1px solid #79b8fd;
			}
		}
	}
	&__btn {
		background-color: #f8f7f7;
		padding: 0px 50px;
	}
}
.social {
	&__link {}
}
//<FOOTER>===================================================
.footer {
	position: relative;
	z-index: 3;
	padding: 48px 0;
	background-color: #3c3c3c;
	text-align: center;
	@media (max-width: $md3) {
		padding: 30px 0px 30px 0px;
	}
	&__logo {
		display: inline-block;
		padding: 0px 0px 40px 0px;
		@media (max-width: $md3) {
			padding: 0px 0px 30px 0px;
		}
	}
	&__menu {
		margin: 0px 0px 34px 0px;
	}
	&__list {
		display: flex;
		justify-content: center;
		li {
			margin: 0px 10px;
		}
	}
	&__link {
		color: #a4a4a4;
		font-size: 14px;
		transition: color 0.3s ease;
		&:hover {
			color: #fff;
		}
	}
	&__copyright {
		color: #6c6c6c;
		font-family: 'MyriadPro';
		font-size: 14px;
	}
}
//</ОСНОВНАЯ СЕТКА>==========================================
